<!DOCTYPE html>
<html>
<head>
    <title>Create Task</title>
</head>
<body>

<h1>Create Task</h1>

<form method="POST">

    <input
        type="text"
        name="title"
        placeholder="Task Title"
    >

    <br><br>

    <input
        type="text"
        name="assigned_to"
        placeholder="Assign To"
    >

    <br><br>

    <input
        type="date"
        name="due_date"
    >

    <br><br>

    <select name="status">

        <option>Pending</option>
        <option>In Progress</option>
        <option>Completed</option>

    </select>

    <br><br>

    <button>Create Task</button>

</form>

</body>
</html>